Language: Cpp

BasedOnStyle: WebKit

# custom modifications to WebKit style:
ColumnLimit: 120
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: Left
BinPackParameters: false
BreakBeforeBraces: Mozilla
Cpp11BracedListStyle: true
BreakInheritanceList: BeforeComma
NamespaceIndentation: None
AlwaysBreakTemplateDeclarations: Yes
IndentCaseLabels: true
SpaceBeforeCpp11BracedList: false
SpaceInEmptyBlock: false

